#kick{
  margin: 0;
  padding: 0;
}
#navBar{
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
}
#name{
  padding-left: 18vw;
}
#home{
  padding-left: 12vw;
}
.common{
  padding-left: 7vw;
  padding-top: 0.8vh;
}

#tileSignUp{

/* padding-left: 34vw;
padding-top: 20vh; */
color:white;

}


#signUpForm{
  /* justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  padding-top: 16vh;
  margin-left: -8vw;
}

.humanIcon{
  padding-left: 25px;
  background-image: url('/public/user.png');
  background-size: 20px;
}
.userImage{
  position: fixed;
  margin-right:-9vw ;
  margin-top: 0.4vh;
}

#userDetails{
  padding-left:14vw;
}
.showPassword{
  position: fixed;
}
.commonInputStyle{
  width: 16vw;
  height: 2.4vh;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 1vw;
  padding-left: 2vw;
  background: transparent;
  border-color: white;
  font-size: 22px;
  color: white;
}
#signUpBorder{
  background-color: rgba(255,255,255,.2);
  margin-left: 32vw;
  width: 48vw;
  height: 70vh;
  padding-top: 3vh;
}
.commonInputStyle::placeholder{
  color: white;
}
.submitButton{
  text-align: center;
  background-color: rgba(255,255,255,.2);
  margin-top: 8vh;
  width: 18vw;
  height: 3vh;
  box-shadow: 10px 10px 20px black;
}

#homeNavBar{
  display: flex;
  flex-wrap: wrap;
}